body {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#game29canvas {
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: default; }

.card {
  position: absolute;
  -webkit-transform-origin: 20px 0;
  -moz-transform-origin: 20px 0;
  -ms-transform-origin: 20px 0;
  -o-transform-origin: 20px 0;
  transform-origin: 20px 0; }

.baseContainer {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px; }

.baseCardElement {
  position: absolute; }

.foundationBase, .tableauPileBase {
  opacity: 0.05; }

.exhaustedImage {
  opacity: 0.05; }

.card, .baseCardElement {
  background: url(/images/deck.png);
  background-position: 0 0; }

.visualization {
  backgroundColor: #080;
  opacity: 0.2;
  position: absolute;
  zIndex: 1000000; }

.undoButton {
  position: absolute; }

.button {
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
  border-radius: 42px;
  display: inline-block;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 30px;
  text-decoration: none;
  cursor: pointer; }

.button.gray {
  color: #777;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  text-shadow: 0 1px 0 #fff; }

.button.gray:active {
  background: linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf; }

.button.green {
  -webkit-box-shadow: inset 0 1px 0 0 #caefab;
  -moz-box-shadow: inset 0 1px 0 0 #caefab;
  box-shadow: inset 0 1px 0 0 #caefab;
  background: linear-gradient(center top, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border: 1px solid #268a16;
  color: #306108;
  text-shadow: 1px 1px 0 #aade7c; }

.button.green:active {
  background: linear-gradient(center top, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811; }

.overlayContainer {
  display: none;
  position: absolute;
  z-index: 10000;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); }

.dummy {
  visibility: none; }

.youWin {
  background-color: #ccf;
  opacity: 0.9;
  padding: 20px;
  position: absolute;
  top: 170px;
  left: 50px;
  width: 580px;
  z-index: 4000;
  display: none;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  .youWin h2 {
    font-family: 'Handlee', cursive;
    font-size: 40pt;
    text-align: center;
    text-shadow: 0px 4px 4px #aaa;
    margin-bottom: 30px; }
